.new-expense {
  width: 100%;
  display: flex;
  justify-content: center;
}
.new_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 80px;
  background-color: rgb(106, 178, 238);
  border-radius: 25px;
  margin: 15px;
}

.buttonAdd {
  outline: none;
  border: none;
  padding: 13px 30px;
  font-weight: 800;
  background-color: rgb(15, 13, 107);
  color: white;
  border-radius: 13px;
}
